body {
  margin: 0;
  font-family: "Ubuntu Mono", sans-serif;
  padding: 20px 40px;
}

code {
  font-family: source-code-por, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
