body {
    margin: 0;
    font-family: 'Ubuntu Mono', sans-serif;
}

code {
    font-family: source-code-por, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}